FITBIT_CLIENT_ID=backend_only
FITBIT_CLIENT_SECRET=backend_only
FITBIT_REDIRECT_URI=carebit://fitbit-callback
FITBIT_AUTH_URL=https://www.fitbit.com/oauth2/authorize
FITBIT_TOKEN_URL=https://api.fitbit.com/oauth2/token
